*{
   padding: 0px;margin: 0px;box-sizing: border-box;
}

.stickey{
	position: fixed;
	z-index: 1;
	top: 0px;
	width: 100%;
}
.special{
	color: #fff;
	font-size: 2em;
}
.main-nav{
	list-style: none;
	margin: 0;
	font-size: 0.7em;
	float: right;
}
.main-nav>li{
	display: inline-block;
	padding: 20px;
}
li>a{
    color: #f5f5f6;
    text-decoration: none;
    text-shadow: 2px 2px 2px darkslateblue; 
}
li>a:hover{
	color: #686de0;
}
.navbar{
	background-color: #223b49;
	padding: 10px;
	height: 50px;
}
.navbar-link{
	color: gold;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Helvetica,sens-serif;
}
header{
	
	background-image: url('D:\pics/bg.jpg');
	height: 1000px;
	background-size: cover;
	background-position: center;
}
.title{
	position: absolute;
	top:50%;
	left: 45%;
	transform: translate(-50%,-50%);

}
.title h1{
	color: white;
	font-size: 60px;
}
.button{
	position: absolute;
	top:60%;
	left: 50%;
	transform: translate(-50%,-50%);
	
}
.btn{
	border: 1px solid;
	padding: 10px; 30px;
	color:white;
	text-decoration:white;
}
.btn:hover{
	color: blue;
	background-color: white;

}
.row{
	display: inline-block;
}
.article{
	display: inline-block;
	padding: 0 5px;
	width: 33%;
	box-sizing: border-box;
}

.article-image{
	max-width: 100%;
}

.article-tag{
	background-color: #35696e;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #1bc2a2;
}

ul li {
  display: block;
  position: relative;
  float: right;
  background: #1bc2a2;
}


li:hover > ul {
    display: block;
}
li {
    display: inline;
    position: relative;
}
ul ul {
    position: absolute;
    display: none;
}
li:hover ul {
    display: block;
}
ul ul ul {
    left: 100%;
    top: 0;
}
li:hover > ul {
    display: block;
}